button{
    height:40px;width:85px;
    background-color:#ccffff;
    box-shadow:0 5px 10px 1px #00b3b3;
    display:inline-block;
   
}
.lnk{
    text-decoration:none;
}

.footer{
    background-color:#ffd24d;padding:10px;
}
.save:hover{
    border-radius:30px;border:#ff0066 3px solid;
}