body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

.resume {
    width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
}

.header {
    display: flex;
    margin-bottom: 20px;
    background-color: #b09a89;
    color: white;
    padding: 10px 15px;
    
}

.header h1 {
margin: 0;
}
.decoration{
    color: white; 
    text-decoration: none;
}
.decoration1{
    color: black; 
    text-decoration: none;
}

.contact-info p {
    margin: 5px 50px;
}

.summary, .skills, .education, .projects, .languages, .declaration {
    margin-bottom: 20px;
}

h2 {
    margin-bottom: 10px;
    border-bottom: 2px solid #ccc;
    padding-bottom: 5px;
}

.skills ul, .projects ul {
    list-style-type: none;
    padding: 10px 30px;
}

.skills ul li, .projects ul li {
    margin: 5px 0;
    
}
.education p{
    padding: 10px 30px;
}
.languages  p{
    padding: 0px 30px;
}
